<% if current_user %>
		<% @user.projects.each do |project| %>
			<article class="projects">
			<p><%=  link_to project.name, project_path(project)   %></p>
			</article>
		<% end %>

		<%= link_to "New Project", new_project_path %>
<% end %>

