<% if current_user %>
	
	<article class="projects">
		<h3>My Projects</h3>
		<% @user.projects.each do |project| %>
			<p><%=  link_to project.name, project_path(project)   %></p>
		<% end %>
	</article>

	<%= link_to "New Project", new_project_path %>

	<% if @user.id == current_user.id %>
		<article class="delete">
			<td><%= link_to 'Delete Me', @user, confirm: 'Just do it!', :controller => "user", :action => "destroy", :id => @user %></td>
		</article>
	<% end %>
<% end %>

