<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if current_user %>
	<%= link_to "New Project", new_project_path %>
	<%= link_to "Log Out", log_out_path, :method => :delete %>
<% end %>

