<%= form_tag projects_path, :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<% @projects.each do |project| %>
  <article>
    <div class="projects">
    	<strong><%= link_to project.name, project_path(project) %></strong> 
   	</div>
  </article>
<% end %>
