#projectName {
	text-align: center;
	color: #A3527A;
	font-family: Georgia;
}

article#taskComment {

	color: #A3527A;
	overflow:hidden;
	width:250px;
    padding:10px;
	border-style:solid;
	border-width:1px;

	div.task {
    width:200px;
    padding:10px;
    margin:10px;
    float:left;
	}
  
	div.comment {
    float:left;
    }
}



article#news {
	
	padding:10px;
	border-style:solid;
	border-width:1px;


	#projectNews {
	text-align: center;
	color: #A3527A;
	font-family: Georgia;
	}
}

