/*
 *  inget # när selectar ett elementnamn istället för id
 * 
 *= require_self
 *= require_tree . 
*/

#projectName {
text-align: center;
color: #A3527A;
font-family: Georgia;
}

article #tasksComments{

	div.task{
		width:100px;
		float:left;
	}
	
	div.commentt{
	float:left;
	}
}

